.header {
    display:flex;
    flex: initial;
    align-items: center;
    background-color: skyblue;
    padding: 12px;
    justify-content: space-around;
    
}

.header-icon {
    display: flex;
    margin-right: auto;

}

.links {
    display: flex;
    gap: 36px;
    justify-content: center;
    align-items: center;
       
}

.links h1 {
    font-family: MedievalSharp;
}

.links li {
    font-weight: bold;
    font-family: MedievalSharp;
    margin-right: 25px;
}

.intro {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 75px;
    align-items: center;
    gap: 75px;
    flex: auto;
    
    
}

.intro-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    
}

.intro-content button {
    padding: 12px 24px;
    background-color: skyblue;
    border: none;
    font-weight: bold;
    margin: auto;
    font-style: italic;
    font-size: 10pt;
    
}

.intro-content p {
    min-width: 200px;
    max-width: 350px;
    margin-top: 12px;
    align-self: center;
    font-family: MedievalSharp;
    
}

.intro-content h1 {
    margin-bottom: 0px;
    font-family: MedievalSharp;
    
}

.info h1 {
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    padding: 12px;
    font-size: 32p;
    font-style: italic;
    font-variant: small-caps;
    font-weight: 700;
    line-height: 35.2px;
    font-family: MedievalSharp;
}

/* h1 { font-family: MedievalSharp; font-size: 32px; font-style: italic; font-variant: small-caps; font-weight: 700; line-height: 35.2px; } */

.info-blocks {
    display: flex;
    justify-content: space-around;
    flex: initial;
    padding: 16px;
    
}

.blocks {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 120px;
 
}

.blocks p {
    text-align: center;
    font-size: 18pt;
    padding-top: 48px;
    color: black;
    font-family: MedievalSharp;
    padding-bottom: 100px;

}

.blocks img {
    height: 350px;
    
}

.quote {
    display: flex;
    flex-direction: column;
    flex: initial;
    justify-content: center;
    align-items: center;
    height: 200px;
    padding: 50px;
    font-size: 20pt;
    font-weight: bold;
    font-family: MedievalSharp;
    background-color: skyblue;
    
}

.quote-author {
    margin-left: 250px;
    min-width: 100px;
    margin-bottom: auto;
    
}

.cta {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    padding: 50px;
    margin: 100px;
    border-radius: 10px;
    border: 5px solid skyblue;
    font-family: MedievalSharp;
    
}

.cta img {
    padding: 25px;
}

.cta-text {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    padding: auto;
    
}

.cta button {
    margin: auto;
    background: none;
    border-radius: 5px;
    padding: 12px 24px;
    background: skyblue;
    border: none;
    color: black;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    background-color: skyblue;
    font-family: MedievalSharp;

}

ul {
    list-style-type: none;
}

body {
    margin: 0;
}

